@import '../theme';

md-sidenav-container {
  height: 100%;
}

md-sidenav {
  width: 340px;
  padding: 12px;
}

md-toolbar a {
	text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

/deep/ .content {
  padding: 12px;

  @include mat-card-theme($light-theme);
}