@import '~@angular/material/theming';

/** Theming for Material */
$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-grey);

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);

body, html {
  margin: 0;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
}